@import 'govuk/-essentials';

$grid-settings: () !default;
$susy: (
  container: 960px,
  columns: 12,
  gutters: 30px/80px,
  gutter-position: inside-static,
  column-width: 80px
);

$susy: map-merge($susy, $grid-settings);

.container {
  @include container;
}

@include media('>tablet') {
  .grid-row {
    @include clearfix;
    margin-left: -(gutters());
    margin-right: -(gutters());
  }

  .column-half,
  .column-two-quarters {
    @include span(6);
  }
  .column-third {
    @include span(4);
  }

  .column-two-thirds {
    @include span(8);
  }

  .column-quarter {
    @include span(3);
  }

  .column-three-quarters {
    @include span(9);
  }

  .column-full {
    @include span(12);
  }
}

@include media('<tablet') {
  .grid-row {
    @include container;
  }

  [class|="column"] {
    margin-top: gutters();

    &:first-child,
    &:first-of-type {
      margin-top: 0;
    }
  }
}
