$fonts: (
  nta: 'nta, Arial, sans-serif',
  nta-tabular: 'ntatabularnumbers, nta, Arial, sans-serif',
  print: sans-serif,
  regular: '"Helvetica Neue", Arial, sans-serif'
);

$container-v-padding: 10px;
$container-h-padding: 20px;

$gutter-width: 30px;
$gutter-half: $gutter-width/2;
$column-width: 80px;

// Set this variable manually when using vanilla Sass
// Use Asset Pipeline helper otherwise
// When set this variable should be declared before importing this helper
$assets-prefix: null !default;

// Default value for em-based measurements
$em-base: 19px;

$breakpoints: (
  phone: 320px,
  tablet: 640px,
  desktop: 1024px
);

