@import 'govuk/-essentials';

.form-control {
  box-sizing: border-box;
  border: 2px solid $grey-1;
  padding: 4px;
  border-radius: 0;
  width: 50%;
  min-width: 5em;
  // IE7
  *padding-top: em(8);
  font-size: 1em;

  &:focus {
    outline: 3px solid $yellow;
  }
}

textarea.form-control {
  min-height: 100px;
}

select.form-control {
  background: $white;
  width: auto;
  height: 2.15em;
}
