@import 'govuk/-essentials';

.global-header + .global-subheader {
  padding: $container-v-padding $container-h-padding 0;
  background-color: $white;

  @media print {
    padding: 0;
  }
}

.subheader-item {
  padding: $container-v-padding 0;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
  line-height: 1;
}
