@import 'govuk/-essentials';

.button {
  display: inline-block;
  position: relative;
  background: $button-colour;
  color: white;
  padding: em(8) em(15) em(5);
  border: solid darken($button-colour, 12);
  border-width: 0 0 2px 0;
  cursor: pointer;
  // IE7
  *font-size: 1em;
  *padding-top: em(5);
  *border-bottom: 0;
  width: auto;
  overflow: visible;

  &:hover:not([disabled]) {
    background-color: darken($button-colour, 5);
  }

  &:link,
  &:visited {
    color: white;
    text-decoration: none;
    background: $button-colour;
  }

  &:active {
    border-color: transparent;
    top: 2px;
  }

  &:focus {
    outline: 3px solid $yellow;
  }

  &[disabled] {
    opacity: .5;
    cursor: default;
    outline: none;

    &:active {
      border-color: inherit;
      top: 0;
    }
  }

  + button,
  + input {
    margin-left: .5em;
  }

  .button + &,
  .form-control + & {
    vertical-align: top;
    *margin-left: .2em;
  }
}

.button-secondary {
  color: $black;
  background: $grey-2;
  border-color: $grey-1;

  &:hover:not([disabled]) {
    background-color: darken($grey-2, 5);
  }
}

.button-get-started {
  font-weight: 700;
  font-size: em(24);
  padding: em(8) em(40) em(8) em(20);
  background-image: img-url('icon-pointer-2x.png');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 30px 19px;
}
