@import 'govuk/-essentials';

.global-footer {
  font-size: em(16);
  color: #555;
  border-top: $container-v-padding solid $govuk-blue;
  background: $grey-3;
  padding: ($container-v-padding * 4) $container-h-padding;

  a {
    color: #444;
    display: inline-block;

    &:hover {
      color: #444;
    }
  }

  .support-links,
  .copyright {
    display: inline-block;
    zoom: 1;
    *display: inline; // IE7
  }

  .support-links {
    width: 77%;

    ul {
      list-style: none;
      margin: 0 0 1em;
      padding: 0;
    }

    li {
      margin-right: $container-h-padding;
      display: inline-block;
      *display: inline; // IE7;
    }

    @include media('<tablet') {
      width: auto;
    }
  }

  .open-government-licence {
    padding-left: 50px;
  }

  .ogl-logo {
    $_size: 41px 17px;

    @include hide-text;
    @include size($_size);
    float: left;
    background: img-url('open-government-licence.png') no-repeat 0 0;
    background: img-url('open-government-licence-2x.png') no-repeat 0 0/$_size;
    margin-left: -50px;
  }

  .copyright {
    text-align: right;
    width: 20%;

    a {
      display: inline-block;
      padding-top: 120px;
      width: 145px;
      background: img-url('govuk-crest.png') no-repeat 50% 10px;
      text-align: center;
      text-decoration: none;
    }

    @include media('<tablet') {
      width: auto;
      display: block;
      margin: auto;
      text-align: center;
      margin-top: 40px;
    }
  }
}

@media print {
  .global-footer {
    margin-top: 2cm;
    padding: 5mm 0 0;

    .open-government-licence {
      padding: 0;
    }

    .support-links {
      display: block;
      width: auto;

      li {
        display: block;
      }
    }

    .copyright {
      text-align: left;
      width: auto;
      display: block;
      margin-top: 2mm;

      a {
        width: auto;
        padding: 0;
        background: none;
        text-align: left;
      }
    }
  }
}
